@import "../../scss/core/global";

.input {
  $self: &;

  display: flex;
  flex-direction: column;
  font-size: rem(14px);
  line-height: rem(20px);

  &__label {
    color: var(--input__label-color);
    font-weight: $font-weight-bold;
    padding-bottom: 6px;
  }

  &__field-wrap {
    position: relative;
  }

  &__field {
    color: var(--input__field-color);
    width: 100%;
    border: var(--input__field-border);
    border-radius: 8px;
    min-height: 44px;
    padding: 10px 14px;
    font-size: rem(16px);
    line-height: rem(24px);

    @include placeholder {
      color: var(--input__field-placeholder-color);
    }

    &[disabled] {
      background-color: var(--input--disabled__field-background-color);
    }

    &:focus {
      border: var(--input--focus__field-border);
      outline: var(--input--focus__field-outline);
    }
  }

  &__icon {
    position: absolute;
    right: 10px;
    top: 10px;
  }

  &__hint {
    color: var(--input__hint-color);
    padding-top: 6px;
  }

  // use hint for both messages:?
  // &__error {
  //   color: $color-error-500;
  //   padding-top: 6px;
  // }

  &--error {
    #{$self}__hint {
      color: var(--input--error__hint-color);
    }

    #{$self}__field {
      border: var(--input--error__field-border);

      &:focus {
        border: var(--input--error__field--focus-border);
        outline: var(--input--error__field--focus-outline);
      }
    }
  }
}
