@import "../../scss/core/global";

.stat {
  $self: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__value {
    order: 1;
    font-weight: $font-weight-semi-bold;
    font-size: rem(48px);
    line-height: rem(60px);
    color: var(--stat__value-color);

    @include bp(md) {
      font-size: rem(60px);
      line-height: rem(72px);
      margin-bottom: 12px;
    }
  }

  &__title {
    order: 2;
    font-weight: $font-weight-medium;
    font-size: rem(18px);
    line-height: rem(28px);
    margin-bottom: 8px;
  }

  &__text {
    order: 3;
    font-weight: $font-weight-regular;
    color: $color-gray-500;
    font-size: rem(16px);
    line-height: rem(24px);
  }

  &--row {
    flex-wrap: wrap;

    #{$self}__value,
    #{$self}__title,
    #{$self}__text {
      margin-right: auto;
    }
  }

  // Colors
  // &--gray-light {
  // }

  // &--gray-dark {
  // }

  // &--primary-light {
  // }

  // &--primary-dark {
  // }
}
