@import "../../scss/core/abstracts/mixins";
@import "../../scss/core/abstracts/variables";

.more-cta {
  $self: &;

  background-color: $color-gray-50;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;

  &__header {
    margin-bottom: 24px;
    @include bp(md) {
      margin-bottom: 32px;
    }
  }

  &__avatar {
    max-width: 120px;
  }

  &__heading {
    font-size: rem(20px);
    line-height: rem(30px);
    font-weight: $font-weight-medium;
    margin-bottom: 8px;
  }

  &__text {
    color: $color-gray-500;
    text-align: center;
    font-size: rem(16px);
    line-height: rem(24px);
    margin-bottom: 24px;

    @include bp(md) {
      font-size: rem(18px);
      line-height: rem(28px);
      margin-bottom: 32px;
    }
  }
}
