@import "../../scss/core/global";

.feature {
  $self: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__mast {
    // color: $color-primary-700;
    // font-weight: $font-weight-semi-bold;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // line-height: 0;
    margin: 32px auto 12px;
    // width: 48px;

    @include bp(md) {
      margin-bottom: 20px;
      margin-top: 0;
      // font-size: rem(16px);
      // line-height: rem(24px);
    }
  }

  //   &__label {
  //     color: $color-primary-700;
  //     font-weight: $font-weight-semi-bold;
  //     margin-bottom: 8px;

  //     @include bp(md) {
  //       font-size: rem(16px);
  //       line-height: rem(24px);
  //       margin-bottom: 12px;
  //     }
  //   }

  &__icon {
    min-width: $feature-icon-width-xs;
    max-width: $feature-icon-width-xs;

    @include bp(md) {
      min-width: $feature-icon-width-md;
      max-width: $feature-icon-width-md;
    }
  }

  &__title {
    font-weight: $font-weight-medium;
    color: var(--feature__title-color); // $color-gray-900;
    margin-left: auto;
    margin-right: auto;
    // font-size: rem(18px);
    // line-height: rem(28px);
    margin-bottom: 4px;

    @include bp(md) {
      //   font-size: rem(20px);
      //   line-height: rem(30px);
      margin-bottom: 8px;
    }

    &--large {
      font-size: rem(20px);
      line-height: rem(30px);

      @include bp(md) {
        font-size: rem(22px);
        line-height: rem(34px);
      }
    }
  }

  &__text {
    width: 100%;
    font-weight: $font-weight-regular;
    color: $color-gray-500;
    font-size: rem(16px);
    line-height: rem(24px);
    margin-bottom: 24px;

    @include bp(md) {
      margin-bottom: 32px;
    }
  }

  &--row {
    flex-direction: column;
    text-align: left;
    align-items: flex-start;

    #{$self}__label,
    #{$self}__mast {
      margin-right: auto;
      margin-left: 0;
    }

    #{$self}__title {
      display: flex;
      align-items: center;
      margin-left: 0;
    }

    #{$self}__cta {
      margin-right: auto;
    }
  }

  &--row-indent {
    text-align: left;
    flex-flow: row wrap;

    #{$self}__mast {
      margin-bottom: 0;
      margin-right: $feature-row-left-margin-xs;

      @include bp(md) {
        margin-right: $feature-row-left-margin-md;
      }
    }
    #{$self}__title {
      margin-bottom: 0;
      display: flex;
      align-items: center;
      min-height: 56px;
      width: calc(100% - $feature-row-left-inset-xs);

      @include bp(md) {
        width: calc(100% - $feature-row-left-inset-md);
      }
    }

    #{$self}__text {
      margin-left: $feature-row-left-inset-xs;

      @include bp(md) {
        margin-left: $feature-row-left-inset-md;
      }
    }

    #{$self}__cta {
      margin-right: auto;
      margin-left: $feature-row-left-inset-xs;

      @include bp(md) {
        margin-left: $feature-row-left-inset-md;
      }
    }
  }

  &--block {
    background: $color-gray-50;
    border-radius: 16px;
    padding: 0 16px 16px;
    margin-bottom: 60px;

    @include bp(md) {
      margin-bottom: 20px;
      padding: 0 24px 24px;
    }

    #{$self}__mast {
      margin-top: -($feature-icon-width-xs / 2);

      @include bp(md) {
        margin-top: -($feature-icon-width-md / 2);
      }
    }
  }

  &--block-row {
    text-align: left;
    background: $color-gray-50;
    padding: 20px;

    @include bp(md) {
      padding: 24px;
    }

    #{$self}__mast,
    #{$self}__label,
    #{$self}__title {
      margin-left: 0;
      margin-right: auto;
    }

    #{$self}__cta {
      margin-right: auto;
    }
  }

  &--primary {
    &#{$self}--block,
    &#{$self}--block-row {
      background: $color-primary-50;
    }

    #{$self}__text {
      color: $color-primary-700;
    }
  }

  &--lift-mast {
    #{$self}__mast {
      margin-bottom: 34px;

      @include bp(md) {
        margin-bottom: 54px;
      }
    }
  }
}
