@import "../scss/core/global";

/* stylelint-disable */
:root {
  // BUTTON
  --button-border-radius: 5px;
  --button-font-weight: $font-weight-medium;
  --button-min-width: 0;
  --button-transition: none;
  // type: primary
  --button--primary-background-color: #333;
  --button--primary-color: #{$color-white};
  --button--primary-border: 0;
  --button--primary-box-shadow: none;
  --button--primary--hover-background-color: #222;
  --button--primary--hover-color: #{$color-white};
  --button--primary--hover-border: none;
  --button--primary--hover-box-shadow: none;
  --button--primary--focus-background-color: #999;
  --button--primary--focus-color: #{$color-white};
  --button--primary--focus-outline: none;
  --button--primary--focus-border: 0;
  --button--primary--focus-box-shadow: none;
  --button--primary--disabled-background-color: #ccc;
  --button--primary--disabled-color: #{$color-white};
  --button--primary--disabled-border: 0;
  // type: secondary
  --button--secondary-background-color: #666;
  --button--secondary-color: #{$color-white};
  --button--secondary-border: 0;
  --button--secondary-box-shadow: none;
  --button--secondary--hover-background-color: #555;
  --button--secondary--hover-color: #{$color-white};
  --button--secondary--hover-border: 0;
  --button--secondary--hover-box-shadow: none;
  --button--secondary--focus-background-color: #999;
  --button--secondary--focus-color: #{$color-white};
  --button--secondary--focus-outline: none;
  --button--secondary--focus-border: 0;
  --button--secondary--focus-box-shadow: none;
  --button--secondary--disabled-background-color: #ddd;
  --button--secondary--disabled-color: #{$color-white};
  --button--secondary--disabled-border: 0;
  // type: tertiary
  --button--tertiary-background-color: #ddd;
  --button--tertiary-color: #{$color-black};
  --button--tertiary-border: 0;
  --button--tertiary-box-shadow: none;
  --button--tertiary--hover-background-color: #bbb;
  --button--tertiary--hover-color: #{$color-white};
  --button--tertiary--hover-border: none;
  --button--tertiary--hover-box-shadow: none;
  --button--tertiary--focus-background-color: #999;
  --button--tertiary--focus-color: #{$color-white};
  --button--tertiary--focus-outline: none;
  --button--tertiary--focus-border: 0;
  --button--tertiary--focus-box-shadow: none;
  --button--tertiary--disabled-background-color: #eee;
  --button--tertiary--disabled-color: #bbb;
  --button--tertiary--disabled-border: 0;
  // size: small
  --button--small-min-width: 0;
  --button--small-min-width--md: 0;
  --button--small-padding: 5px 10px;
  --button--small-min-height: 30px;
  --button--small-min-height--md: 36px;
  --button--small-font-size: #{rem(12px)};
  --button--small-font-size--md: #{rem(14px)};
  --button--small-line-height: #{rem(16px)};
  --button--small-line-height--md: #{rem(18px)};
  // size: medium
  --button--medium-min-width: 0;
  --button--medium-min-width--md: 0;
  --button--medium-padding: 6px 12px;
  --button--medium-min-height: 36px;
  --button--medium-min-height--md: 40px;
  --button--medium-font-size: #{rem(14px)};
  --button--medium-font-size--md: #{rem(16px)};
  --button--medium-line-height: #{rem(20px)};
  --button--medium-line-height--md: #{rem(22px)};
  // size: large
  --button--large-min-width: 0;
  --button--large-min-width--md: 0;
  --button--large-padding: 8px 16px;
  --button--large-min-height: 40px;
  --button--large-min-height--md: 44px;
  --button--large-font-size: #{rem(16px)};
  --button--large-font-size--md: #{rem(18px)};
  --button--large-line-height: #{rem(22px)};
  --button--large-line-height--md: #{rem(24px)};
  // size: xlarge
  --button--xlarge-min-width: 0;
  --button--xlarge-min-width--md: 0;
  --button--xlarge-padding: 18px 36px;
  --button--xlarge-min-height: 44px;
  --button--xlarge-min-height--md: 48px;
  --button--xlarge-font-size: #{rem(16px)};
  --button--xlarge-font-size--md: #{rem(18px)};
  --button--xlarge-line-height: #{rem(22px)};
  --button--xlarge-line-height--md: #{rem(24px)};
  // size: xxlarge
  --button--xxlarge-min-width: 0;
  --button--xxlarge-min-width--md: 0;
  --button--xxlarge-padding: 20px 44px;
  --button--xxlarge-min-height: 54px;
  --button--xxlarge-min-height--md: 64px;
  --button--xxlarge-font-size: #{rem(18px)};
  --button--xxlarge-font-size--md: #{rem(20px)};
  --button--xxlarge-line-height: #{rem(24px)};
  --button--xxlarge-line-height--md: #{rem(28px)};

  // INPUT
  --input__label-color: #{$color-black};
  --input__label-font-weight: #{$font-weight-medium};
  --input__field-border: 1px solid #999;
  --input__field-border-radius: 5px;
  --input__field-min-height: 40px;
  --input__field-padding: 5px 10px;
  --input__field-font-size: rem(16px);
  --input__field-line-height: rem(24px);
  --input__field-color: #111;
  --input__field-placeholder-color: #999;
  --input--disabled__field-background-color: #eee;
  --input--focus__field-border: 1px solid #999;
  --input--focus__field-outline: 4px solid #ddd;
  --input__hint-color: #333;
  --input--error__hint-color: #c00;
  --input--error__field-border: #c00;
  --input--error__field--focus-border: 1px solid #c00;
  --input--error__field--focus-outline: 1px solid #c00;

  // CHECKBOX
  --checkbox__field-border: 1px solid #{$color-gray-300};
  --checkbox-tick-color: #{$color-black};
  --checkbox--focus__field-border: 1px solid #999;
  --checkbox--focus__field-outline: 4px solid #ccc;
  --checkbox--checked__field-background-color: #eee;
  --checkbox--checked__field-border: 1px solid #333;
  --checkbox--disabled__field-background-color: #{$color-gray-100};
  --checkbox--disabled__field-border: 1px solid #{$color-gray-200};
  --checkbox--disabled-color: #{$color-gray-300};
  --checkbox--disabled-tick-color: #{$color-gray-200};
  --checkbox--hover__field-background-color: #eee;
  --checkbox--hover__field-border: 1px solid #{$color-black};
  --checkbox__label-color: #{$color-gray-700};
  --checkbox__helper-color: #{$color-gray-500};

  // RADIO BUTTON
  --radio-button__field-border: 1px solid #{$color-gray-300};
  --radio-button-dot-color: #{$color-black};
  --radio-button--checked__field-background-color: #eee;
  --radio-button--checked__field-border: 1px solid #{$color-black};
  --radio-button--focus__field-outline: 4px solid #ccc;
  --radio-button--disabled__field-background-color: #{$color-gray-100};
  --radio-button--disabled__field-border: 1px solid #{$color-gray-200};
  --radio-button--disabled-color: #{$color-gray-300};
  --radio-button--disabled-dot-color: #{$color-gray-200};
  --radio-button--hover__field-background-color: #eee;
  --radio-button--hover__field-border: 1px solid #{$color-black};
  --radio-button__label-color: #{$color-gray-700};
  --radio-button__helper-color: #{$color-gray-500};
}

// THEMES
@import "doterra";
@import "business-toolkit";
@import "meerkat-village";
