@import "../../scss/core/global";

.checkbox {
  $self: &;

  display: inline-flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;

  &__field {
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $color-gray-300;
    border-radius: 4px;
    display: grid;
    place-content: center;
    margin-right: 8px;

    &::before {
      content: "";
      width: 10px;
      height: 10px;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: center center;
      transition: 100ms transform ease-in-out;
      box-shadow: inset 1em 1em $color-blue-600;
      background-color: $color-blue-600;
    }

    &:checked {
      outline: 4px solid $color-primary-50;
      border-color: $color-primary-600;

      &::before {
        transform: scale(1);
      }
    }

    &:focus {
      outline: 4px solid $color-primary-50;
    }
  }

  &:hover {
    #{$self}__field {
      background-color: $color-primary-50;
      border-color: $color-primary-600;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__label {
    font-weight: $font-weight-medium;
  }

  &__helper {
    color: $color-gray-500;
  }

  &--medium {
    font-size: 16px;
    line-height: 24px;

    #{$self}__field {
      margin-right: 12px;
      width: 20px;
      height: 20px;
      border-radius: 6px;

      &::before {
        width: 12px;
        height: 12px;
      }
    }

    #{$self}__helper {
      margin-top: 2px;
    }
  }
}
