@import "../../scss/core/global";

.progress-link {
  $self: &;

  display: inline-flex;
  background-color: transparent;
  color: var(--progress-link-color); // $color-primary-700;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
  border-radius: 8px;
  font-weight: $font-weight-medium;
  font-size: rem(16px);
  line-height: rem(24px);

  &__icon {
    stroke: var(--progress-link-color);
    transition: transform 50ms;
    width: 20px;
    height: 20px;
    margin-left: 8px;
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--progress-link-color);

    #{$self}__icon {
      transform: translateX(5px);
    }
  }
}
